@font-face {
  font-family: 'sell-icon';
  src: url("../fonts/sell-icon.eot?8mcyky");
  src: url("../fonts/sell-icon.eot?8mcyky#iefix") format('embedded-opentype'), url("../fonts/sell-icon.ttf?8mcyky") format('truetype'), url("../fonts/sell-icon.woff?8mcyky") format('woff'), url("../fonts/sell-icon.svg?8mcyky#sell-icon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add_circle:before {
  content: "\e909";
}
.icon-arrow_lift:before {
  content: "\e900";
}
.icon-check_circle:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-favorite:before {
  content: "\e903";
}
.icon-keyboard_arrow_right:before {
  content: "\e904";
}
.icon-remove_circle_outline:before {
  content: "\e905";
}
.icon-shopping_cart:before {
  content: "\e906";
}
.icon-thumb_down:before {
  content: "\e907";
}
.icon-thumb_up:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
body,
html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
@media (-webkit-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::afer {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::afer {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
